---
layout: default
title: Changemakers shaping the future of work
show_widget: true
crazyegg: true
inspeclet: true
pushcrew: true
popupdomination: true
---

<!--Header-->
<header class="index-header">
  <div class="wrap-content">
    <img src="assets/images/logo-leadwise-network.svg" alt="LeadWise Network" class="logo">
    <label for="sidebartoggle" class="sidebartogle-button">
      <img class="btn-menu" src="assets/images/icon-menu.svg" alt="menu">
    </label>
    <ul class="menu">
      <li><a class="scroll-link" data-soffset="0" href="#explore-network">Explore our Network</a></li>
      <li><a class="scroll-link" data-soffset="0" href="/application">Create your profile</a></li>
      <!--<li><a class="scroll-link btn-cta" data-soffset="0" href="/application">Become a LeadWise Org Designer</a></li>-->
    </ul>
  </div>
</header>

<!--Main banner-->
<section class="main-banner">
  <div class="wrap-content">
    <!--<img src="/assets/images/logo-leadwise-Network.svg" alt="LeadWise Network" class="logo">-->
    <h1>Changemakers shaping the future of work</h1>
    <h2>Explore our international Network of changemakers that will help you change how your organization works.</h2>
  </div>
</section>

<!--Map-->
<!--<section class="expert-map"></section>-->

<!--Community List-->
<section class="community-list" id="explore-network">
  <div class="wrap-content">
    <h3>Explore our network</h3>
    <p class="community-description">We are organizational designers, independent consultants, intrapreneurs and catalysts of change who believe that work environments should put people first.</p>

    {% assign posts = paginator.posts | sort:'title' %}
    {% for profile in posts %}
    <section class="single-expert">
      <div class="single-expert-img">
        <img src="/assets/images/avatar/{{ profile.avatar }}" alt="Expert avatar">
      </div>
      <div class="single-expert-txt">
        <p class="expert-name">{{ profile.name }}</p>
        <p class="expert-activity">{{ profile.short_description | truncate: 140 }}</p>
        <p>{{ profile.location }}</p>
        <p class="expert-language">{{ profile.languages | join: ", "}}</p>
        <p><a href="{{ profile.url }}">View full profile</a></p>
      </div>
    </section>
    {% endfor %}

    <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
  </div>
</section>

<!--Org Designer Ad-->
<section class="org-designer-ad">
  <h3>Are you an organizational designer?</h3>
  <p>Join our network and be connected to companies ready to change how they work.</p>
  <a href="/application" class="btn-cta">Create your profile</a>
</section>

<!-- network -->
<!--<div class="about-lw-co">
  <div class="wrap-content">
    <h3> Leadwise Community </h3>

    {% for profile in site.posts | sort: "title" %}
    <div class="about-col-2">
      <img src="/assets/images/avatar/{{ profile.avatar }}" alt="{{ profile.name }}">
      <h4><a href="{{ profile.url }}">{{ profile.name }}</a></h4>

      <div>
      {% for badge in profile.badges %}
      <i class="fa {{ badge }} fa-2x"></i>
      {% endfor %}
      </div>

  </div>
    {% endfor %}

  </div>
</div>-->
