// Map
.expert-map {
  background-image: url("../images/community-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  width: 100%;
  @include media($mobile) {
    height: 10em;
  }
}

// Community List
.community-list {
  text-align: center;
  padding: 60px 0;
  h3 {
    color: $lw-blue;
    margin: 20px 0 0 0;
    @include media($mobile) {
      font-size: 34px;
      text-align: left;
      margin: 0;
    }
  }
  .wrap-content {
    padding: 0 10%;
  }
}

.community-description {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: $font-lw-light-bg;
  @include media($mobile) {
    font-size: 17px;
    line-height: 27px;
    text-align: left;
  }
}

.single-expert {
  margin-top: 2em;
  @include span-columns(6);
  @include omega();
  @include media($mobile) {
    @include span-columns(12);
  }
  .single-expert-img {
    img {
      border-radius: 50%;
      float: left;
      width: 30%;
      @include media($mobile) {
        width: 100%;
        padding: 0 25%;
      }
    }
  }
  .single-expert-txt {
    display: inline-block;
    p {
      margin: .5em 0;
      text-align: left;
    }
  }
}

// Home and Internal Classes
.expert-name {
  // color: $lw-blue;
  font-family: 'open_sans_bold';
  text-transform: uppercase;
}
.expert-language {
  font-size: .9em;
  font-style: italic;
}
.expert-activity {
  // font-family: 'open_sans_bold';
}

//Org Designer Ad
.org-designer-ad {
  color: $font-white;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center;
  h3 {
    margin: .5em 0;
  }
}

// Single Org Designer
.single-expert-profile {
  background: $lw-light-bg;
  @include span-columns(4);
  .expert-profile-block {
    float: right;
    padding: 1em;
    text-align: right;
    width: 50%;
    img {
      width: 100%;
      @include media($mobile) {
        width: 100%;
        padding: 0 25%;
      }
    }
    .expert-avatar{
      border-radius: 50%;
    }
    p {
      margin: .5em;
    }
    .expert-social{
      display: inline-flex;
      list-style: none;
      padding: 0;
      li{
        padding: 0 .5em;
        a{
          color: $lw-blue;
        }
      }
    }
  }
}

// Single Org Designer Content
.expert-full-content {
  @include span-columns(8);
  @include omega();
  margin-bottom: 4em;
  padding-right: 10%;
  .community-description {
    margin-top: 0;
  }
  .tags {
    span {
      background: $lw-light-bg;
      margin-right: 1em;
      padding: .2em .5em;
      border-radius: 4px;
    }
  }
  .expert-program-title {
    color: $lw-blue;
    float: left;
  }
  .expert-program-link {
    line-height: 4em;
    margin: 0 2em;
  }

  .expert-contact-infos{
    border: 1px solid $lw-light-bg;
    padding: 2em;
    section{
      display: block;
      float: left;
      height: 16em;
      padding: 1em 2em 0 0;
      width: 40%;
    }
  }
}