<div class="internal-modal-content">
<h3>Responsive Org</h3>
<p>Started in 2015, this global movement aims to redefine how organizations operate in the era of rapid development in digital and social technologies. Their mission is centered on a collective of organizations sharing concrete change toward a more responsive management system that fosters transparency, agility and openness.</p>
<img src="/assets/images/7-movements/7-movements-responsive-org.png" alt="">
<ul>
  <li>Promotes networks of teams versus industrial-era hierarchies.</li>
  <li>Advocates for purpose instead of profit.</li>
  <li>Removes privacy centering around decisions and process to allow for more transparency within an organization.</li>
</ul>
</div>
