Started in 1998, re:Work is a website sharing curated guides, case studies and research about how businesses like Google and others rethink business to put people first. Their goal is to provide resources to help other organizations design workplaces to make people happier, healthier and more productive.

Promotes managers acting as role models for continuous growth and improvement.
Advocates for treating employees like owners.
Removes unconscious bias and replacing with education, measurement and accountability.
