<div class="internal-modal-content">
<h3>Holacracy</h3>
<p>Started in 2009 by Brian Robertson, this movement replaces the traditional management hierarchy with a “peer-to-peer” operating system that increases transparency, accountability and organizational agility. The movement’s vision is to distribute authority among its team to empower all employees to take leadership roles and make meaningful decisions.</p>

<img src="/assets/images/7-movements/7-movements-holacracy.png" alt="">
Super Circle: Contains sub-circles.| Sub-Circle: Each is dedicated to a function.| Role: A task related to a function.

<ul>
  <li>Promotes flexible organizational structure. Dynamic roles replace static job descriptions.</li>
  <li>Advocates for meeting formats geared toward action eliminating over-analysis.</li>
  <li>Removes bureaucracy from decision-making.</li>
</ul>

</div>
