Developed over 30 years ago by Ricardo Semler, this management approach organizes wisely around humans instead of smartly around structures and procedures. It is designed to treat adults as adults and put people above organizational modes.
<img src="" alt="">
Promotes building a culture of trust where there is a free exchange of ideas and transparency in decisions, meetings and planning.
Advocates for innovative and creativity to be nurtured in their employees and companies.
Removes control systems and returns accountability and self-management to team members.
