<div class="internal-modal-content">
<h3>Teal</h3>
<p>Introduced in the book Reinventing Organizations by Frederic Laloux in 2014, this movement advances the idea of soulful workplaces that focus on their impact in the world versus management targets. By focusing less on the bottom line and shareholder value and by implementing agile practices, Teal organizations are reaching new heights in financial results and are outpacing their competitors. These are the 3 breakthroughs:</p>
<img src="/assets/images/7-movements/7-movements-teal.png" alt="">
<ul>
  <li>Promotes self-management advocating for high autonomy among their employees and removes hierarchy, plan and control mechanisms and rules.</li>
  <li>Advocates for wholeness promoting working environment where personnel are invited to reclaim their inner wholeness and fully express themselves in the workplace resulting in high levels of energy, passion and creativity.</li>
  <li>Removes lack of purpose with evolutionary purpose — Teal organization base their strategies on what they sense the world is asking from them.</li>
</ul>
</div>