Derived from Japanese manufacturing industry, this movement focuses on taking the “fat” out of manufacturing business systems and streamlining processes by eliminating overburden or unbalanced workloads. This type of movement is best demonstrated by Toyota, which summed up its ideals in 2001, calling it “Toyota Way”. They base their management style on 14 principles.

Promotes building a culture of stopping to fix problems, to get quality right the first time.
Advocates for a learning environment through reflection and continuous improvement.
Removes trust issues by using visual controls so no problems are hidden.

<img src="" alt="">