@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

p b {
  font-family: 'open_sans_bold'; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn, .btn-cta {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover, .btn-cta:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

.main-banner {
  text-align: center;
  background: #fff;
  background-size: cover;
  display: table;
  width: 100%;
  padding-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .main-banner {
      background-position: 0 0; }
      .main-banner br {
        display: none; } }
  .main-banner h1 {
    margin: 55px 0 0 0; }
    @media screen and (max-width: 768px) {
      .main-banner h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 130px 0 -5px 0;
        background: #fff;
        padding: 10px; } }
  .main-banner h2 {
    font-weight: bold;
    color: #95989A;
    letter-spacing: .02em;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .main-banner h2 {
        font-size: 20px;
        line-height: 23px; } }

@media screen and (max-width: 768px) {
  header {
    position: absolute;
    width: 100%; } }
header .logo {
  height: 6em;
  margin: 35px 0 0 0;
  float: left; }
  @media screen and (max-width: 768px) {
    header .logo {
      width: 120px;
      height: auto;
      float: none; } }
header .menu {
  display: table;
  float: right;
  font-family: 'open_sans_light';
  margin: 4em 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    header .menu {
      display: none; } }
  header .menu li {
    display: inline-block;
    list-style: none;
    margin-left: 35px; }
    @media screen and (max-width: 768px) {
      header .menu li {
        margin-left: 0; } }
    header .menu li a {
      color: #95989A;
      text-decoration: none; }
      header .menu li a:hover {
        opacity: .8; }
    header .menu li .btn-cta {
      background: #30A7E9;
      color: #FFFFFF;
      line-height: 50px;
      height: 50px;
      text-transform: uppercase;
      font-family: ostrich_sansmedium;
      font-size: 22px;
      display: inline-block;
      letter-spacing: 2px;
      padding: 0 25px; }

#sidebartoggle {
  display: none; }
  #sidebartoggle:checked + header .menu {
    -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    display: block;
    background: #FFFFFF;
    height: 100vh;
    margin: 0;
    padding: 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 180px;
    z-index: 2; }
    #sidebartoggle:checked + header .menu li {
      display: block;
      margin-bottom: 20px; }
    #sidebartoggle:checked + header .menu .btn-cta {
      color: #FFFFFF;
      text-align: center; }
      #sidebartoggle:checked + header .menu .btn-cta:hover {
        color: #FFFFFF; }
    #sidebartoggle:checked + header .menu a {
      color: #95989A;
      display: block; }
      #sidebartoggle:checked + header .menu a:hover {
        color: #30A7E9; }

.sidebartogle-button {
  display: none; }
  @media screen and (max-width: 768px) {
    .sidebartogle-button {
      display: table;
      float: right; } }
  .sidebartogle-button .btn-menu {
    height: 3em;
    margin: 2.5em 0; }

.single-expert-profile .wrap-content,
.expert-full-content .wrap-content,
#howitworks .wrap-content,
#pricing .wrap-content {
  width: 800px; }
  @media screen and (max-width: 768px) {
    .single-expert-profile .wrap-content,
    .expert-full-content .wrap-content,
    #howitworks .wrap-content,
    #pricing .wrap-content {
      width: 100%; } }

.expert-map {
  background-image: url("../images/community-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  width: 100%; }
  @media screen and (max-width: 420px) {
    .expert-map {
      height: 10em; } }

.community-list {
  text-align: center;
  padding: 60px 0; }
  .community-list h3 {
    color: #30A7E9;
    margin: 20px 0 0 0; }
    @media screen and (max-width: 420px) {
      .community-list h3 {
        font-size: 34px;
        text-align: left;
        margin: 0; } }
  .community-list .wrap-content {
    padding: 0 10%; }

.community-description {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #95989A; }
  @media screen and (max-width: 420px) {
    .community-description {
      font-size: 17px;
      line-height: 27px;
      text-align: left; } }

.single-expert {
  margin-top: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0; }
  .single-expert:last-child {
    margin-right: 0; }
  @media screen and (max-width: 420px) {
    .single-expert {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .single-expert:last-child {
        margin-right: 0; } }
  .single-expert .single-expert-img {
    float: left;
    width: 35%; }
    @media screen and (max-width: 768px) {
      .single-expert .single-expert-img {
        width: 100%; } }
    .single-expert .single-expert-img img {
      border-radius: 50%;
      float: left;
      padding: 0 1em;
      width: 100%; }
      @media screen and (max-width: 420px) {
        .single-expert .single-expert-img img {
          width: 100%;
          padding: 0 25%; } }
  .single-expert .single-expert-txt {
    display: table; }
    .single-expert .single-expert-txt p {
      margin: .5em 0;
      text-align: left; }

.expert-name {
  font-family: 'open_sans_bold';
  text-transform: uppercase; }

.expert-language {
  font-size: .9em;
  font-style: italic; }

.org-designer-ad {
  color: #FFFFFF;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center; }
  .org-designer-ad h3 {
    margin: .5em 0; }

.single-expert-profile {
  background: #EAEAEA;
  padding: 2em; }
  .single-expert-profile .expert-name {
    margin: .5em; }
  .single-expert-profile .expert-profile-block {
    display: block;
    float: left;
    margin: 0 auto;
    text-align: left;
    width: 65%; }
    @media screen and (max-width: 768px) {
      .single-expert-profile .expert-profile-block {
        width: 100%; } }
    .single-expert-profile .expert-profile-block section {
      display: table; }
    .single-expert-profile .expert-profile-block .expert-avatar {
      border-radius: 50%;
      float: left;
      margin: 0 2em;
      height: 10em; }
      @media screen and (max-width: 420px) {
        .single-expert-profile .expert-profile-block .expert-avatar {
          height: inherit;
          margin: 0;
          padding: 0;
          width: 100%; } }
    .single-expert-profile .expert-profile-block p {
      margin: .5em; }
    .single-expert-profile .expert-profile-block .expert-social {
      display: inline-flex;
      list-style: none;
      padding: 0; }
      .single-expert-profile .expert-profile-block .expert-social li {
        padding: 0 .5em; }
        .single-expert-profile .expert-profile-block .expert-social li a {
          color: #30A7E9; }
  .single-expert-profile .expert-company-info {
    display: table; }
    .single-expert-profile .expert-company-info p {
      margin: .5em; }
  .single-expert-profile .expert-company-logo {
    height: 3em; }

.expert-badges {
  font-family: 'open_sans_bold';
  margin: 0 !important; }

.badges img {
  float: left;
  height: 2em; }

.expert-full-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  margin-bottom: 4em; }
  .expert-full-content:last-child {
    margin-right: 0; }
  .expert-full-content p {
    font-size: 1.2em;
    line-height: 2em; }
  .expert-full-content .tags span {
    background: #EAEAEA;
    margin-right: 1em;
    padding: .2em .5em;
    border-radius: 4px; }
  .expert-full-content .expert-program-title {
    color: #30A7E9;
    float: left; }
    @media screen and (max-width: 420px) {
      .expert-full-content .expert-program-title {
        float: none; } }
  .expert-full-content .expert-program-link {
    line-height: 4em;
    margin: 0 2em; }
    @media screen and (max-width: 420px) {
      .expert-full-content .expert-program-link {
        line-height: 2em;
        margin: 0;
        display: inline-block; } }
  .expert-full-content .expert-contact-infos {
    border: 1px solid #EAEAEA;
    padding: 2em; }
    .expert-full-content .expert-contact-infos section {
      display: block;
      float: left;
      height: 16em;
      padding: 1em 2em 0 0;
      width: 40%; }

/*
About
*/
.about-lw-co {
  background: #30A7E9;
  color: #FFFFFF;
  display: table;
  padding: 20px 0;
  width: 100%; }
  .about-lw-co h3 {
    text-align: center;
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .about-lw-co h3 {
        font-size: 26px;
        margin-bottom: 30px; } }
  .about-lw-co .about-col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .about-lw-co .about-col-2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      .about-lw-co .about-col-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .about-lw-co .about-col-2:last-child {
          margin-right: 0; } }

.form-group .parsley-errors-list {
  list-style: none;
  padding: 0;
  color: red; }
.form-group input:focus .parsley-error {
  border: 1px solid red; }
.form-group .input-insurence {
  font-size: .8em; }

.sample-list {
  text-align: center;
  padding-top: 20px; }
  .sample-list::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 768px) {
    .sample-list {
      padding-top: 15px;
      padding-bottom: 5px; } }
  .sample-list h3 {
    text-align: center;
    margin-bottom: 50px;
    color: #30A7E9; }
    @media screen and (max-width: 768px) {
      .sample-list h3 {
        font-size: 26px;
        margin-bottom: 30px; } }
  .sample-list .wrap-content > div {
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 60px 0;
    padding-right: 50px;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .sample-list .wrap-content > div {
        width: 100%;
        padding-right: 0;
        margin: 0 0 30px 0; } }
    .sample-list .wrap-content > div span {
      font-family: open_sans_bold;
      text-transform: uppercase; }
  .sample-list h4 {
    color: #30A7E9;
    font-size: 22px;
    margin-bottom: 15px; }
  .sample-list ul {
    padding: 5px 0 10px 35px;
    margin: 0;
    border-left: 3px solid #f2f2f2; }
  .sample-list p,
  .sample-list li {
    font-size: 16px;
    line-height: 26px; }
  .sample-list p {
    margin: 0; }
  .sample-list li {
    margin: 10px 0 0 0; }

#key-benefits div {
  text-align: center; }
  #key-benefits div img {
    height: 8em; }

#howitworks {
  background: #EAEAEA; }

#howitworks .wrap-content > div,
#pricing .wrap-content > div {
  width: 100%; }
  @media screen and (max-width: 768px) {
    #howitworks .wrap-content > div,
    #pricing .wrap-content > div {
      width: 100%;
      padding-right: 0;
      margin: 0 0 30px 0; } }

#pricing {
  background: #30A7E9;
  color: #fff; }
  #pricing h3 {
    color: #fff; }
  #pricing span {
    color: rgba(255, 255, 255, 0.7); }
  #pricing h4 {
    color: white; }
  #pricing ul {
    border-left: 3px solid rgba(255, 255, 255, 0.3); }

.note-phrase {
  text-transform: uppercase;
  font-family: open_sans_bold;
  font-size: 12px !important;
  line-height: 20px !important;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 7px 12px;
  text-align: center;
  letter-spacing: 0;
  margin-top: 20px !important; }

.tooltip-item {
  background: transparent;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
  text-align: center; }
  .tooltip-item:focus, .tooltip-item:hover .tooltip {
    opacity: 1;
    visibility: visible; }
  .tooltip-item .tooltip {
    position: absolute;
    right: 0;
    bottom: 3em;
    left: 0;
    background-color: white;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 2px silver;
    color: #333;
    display: table;
    font-size: 0.75em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 16em;
    opacity: 0;
    padding: .5em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 10; }
    .tooltip-item .tooltip p {
      color: #333;
      line-height: 1.5em;
      margin: 0; }
    .tooltip-item .tooltip::after {
      position: absolute;
      bottom: 0;
      left: 5px;
      border: 8px solid transparent;
      bottom: -1.3em;
      color: white;
      content: "▼";
      font-size: 1.4em;
      margin-left: -8px;
      text-align: center;
      text-shadow: 0 2px 2px silver; }

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000;
  display: none;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: 99999; }

.modalDialog > div {
  background: #fff;
  border-radius: 10px;
  height: 70vh;
  margin: 10% auto;
  position: relative;
  width: 60%; }

.modal-body {
  overflow-y: scroll;
  height: 380px;
  padding: 30px; }

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  float: right;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  width: 24px; }
  .close:hover {
    cursor: pointer; }

.internal-modal-content h3 {
  margin: 0; }
.internal-modal-content img {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
