html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

p b {
  font-family: 'open_sans_bold'; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn, .btn-cta {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover, .btn-cta:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

.main-banner {
  text-align: center;
  display: table;
  width: 100%;
  padding-bottom: 4em; }
  @media screen and (max-width: 420px) {
    .main-banner {
      padding-bottom: 2em; } }
  .main-banner .logo {
    width: 200px;
    margin: 70px 0 0 0; }
    @media screen and (max-width: 420px) {
      .main-banner .logo {
        width: 140px;
        margin: 30px 0 0 0; } }
  .main-banner h1 {
    margin: 65px 0 15px 0; }
    @media screen and (max-width: 420px) {
      .main-banner h1 {
        font-size: 40px;
        margin-top: 25px; } }
  .main-banner h2 {
    font-weight: bold;
    color: #95989A;
    letter-spacing: .02em; }
    @media screen and (max-width: 420px) {
      .main-banner h2 {
        margin-bottom: 20px; } }

.expert-map {
  background-image: url("../images/community-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  width: 100%; }
  @media screen and (max-width: 420px) {
    .expert-map {
      height: 10em; } }

.community-list {
  text-align: center;
  padding: 60px 0; }
  .community-list h3 {
    color: #30A7E9;
    margin: 20px 0 0 0; }
    @media screen and (max-width: 420px) {
      .community-list h3 {
        font-size: 34px;
        text-align: left;
        margin: 0; } }
  .community-list .wrap-content {
    padding: 0 10%; }

.community-description {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #95989A; }
  @media screen and (max-width: 420px) {
    .community-description {
      font-size: 17px;
      line-height: 27px;
      text-align: left; } }

.single-expert {
  margin-top: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0; }
  .single-expert:last-child {
    margin-right: 0; }
  @media screen and (max-width: 420px) {
    .single-expert {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .single-expert:last-child {
        margin-right: 0; } }
  .single-expert .single-expert-img img {
    border-radius: 50%;
    float: left;
    width: 30%; }
    @media screen and (max-width: 420px) {
      .single-expert .single-expert-img img {
        width: 100%;
        padding: 0 25%; } }
  .single-expert .single-expert-txt {
    display: inline-block; }
    .single-expert .single-expert-txt p {
      margin: .5em 0;
      text-align: left; }

.expert-name {
  font-family: 'open_sans_bold';
  text-transform: uppercase; }

.expert-language {
  font-size: .9em;
  font-style: italic; }

.org-designer-ad {
  color: #FFFFFF;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center; }
  .org-designer-ad h3 {
    margin: .5em 0; }

.single-expert-profile {
  background: #EAEAEA;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .single-expert-profile:last-child {
    margin-right: 0; }
  .single-expert-profile .expert-profile-block {
    float: right;
    padding: 1em;
    text-align: right;
    width: 50%; }
    .single-expert-profile .expert-profile-block img {
      width: 100%; }
      @media screen and (max-width: 420px) {
        .single-expert-profile .expert-profile-block img {
          width: 100%;
          padding: 0 25%; } }
    .single-expert-profile .expert-profile-block .expert-avatar {
      border-radius: 50%; }
    .single-expert-profile .expert-profile-block p {
      margin: .5em; }
    .single-expert-profile .expert-profile-block .expert-social {
      display: inline-flex;
      list-style: none;
      padding: 0; }
      .single-expert-profile .expert-profile-block .expert-social li {
        padding: 0 .5em; }
        .single-expert-profile .expert-profile-block .expert-social li a {
          color: #30A7E9; }
  .single-expert-profile .expert-company-info {
    margin: 2em 0; }

.expert-full-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0;
  margin-bottom: 4em;
  padding-right: 10%; }
  .expert-full-content:last-child {
    margin-right: 0; }
  .expert-full-content .community-description {
    margin-top: 0; }
  .expert-full-content .tags span {
    background: #EAEAEA;
    margin-right: 1em;
    padding: .2em .5em;
    border-radius: 4px; }
  .expert-full-content .expert-program-title {
    color: #30A7E9;
    float: left; }
  .expert-full-content .expert-program-link {
    line-height: 4em;
    margin: 0 2em; }
  .expert-full-content .expert-contact-infos {
    border: 1px solid #EAEAEA;
    padding: 2em; }
    .expert-full-content .expert-contact-infos section {
      display: block;
      float: left;
      height: 16em;
      padding: 1em 2em 0 0;
      width: 40%; }

/*# sourceMappingURL=style.css.map */
