html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'ostrich_sansblack';
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-black/ostrichsans-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ostrich_sansmedium';
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot");
  src: url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrichsans-medium/ostrichsans-medium-webfont.svg#ostrich_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_light';
  src: url("../fonts/opensans/light/opensans-light-webfont.eot");
  src: url("../fonts/opensans/light/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans/light/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans_italic';
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/opensans/lightitalic/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
p a {
  color: #30A7E9;
  text-decoration: none; }

p b {
  font-family: 'open_sans_bold'; }

h1 {
  color: #30A7E9;
  font-family: 'ostrich_sansblack';
  font-size: 4em;
  margin: 1em 0; }

h2,
h3,
h4 {
  font-family: 'ostrich_sansmedium'; }

h2 {
  font-size: 2em;
  margin: .2em 0; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.35em; } }

h3 {
  font-size: 2.5em;
  margin: 1em 0; }

h4 {
  font-size: 2em;
  margin: .5em 0; }

h5 {
  font-family: 'open_sans_light';
  margin: 0;
  text-transform: uppercase; }

p {
  font-family: 'open_sans_light'; }

input,
textarea {
  border: 1px solid #95989A;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 1em;
  width: 100%; }
  input:focus,
  textarea:focus {
    border: 1px solid #30A7E9; }

textarea {
  resize: vertical; }

button, .btn, .btn-cta {
  background: #FFCC00;
  border: 0;
  color: #000000;
  display: inline-block;
  font-size: 1.4em;
  font-family: 'ostrich_sansmedium';
  letter-spacing: 0.1em;
  padding: .65em 1em;
  text-decoration: none; }
  button:hover, .btn:hover, .btn-cta:hover {
    cursor: pointer;
    text-decoration: none; }

.btn {
  background: #30A7E9;
  color: #FFFFFF; }

.main-banner {
  text-align: center;
  display: table;
  width: 100%;
  padding-bottom: 4em; }
  @media screen and (max-width: 420px) {
    .main-banner {
      padding-bottom: 2em; } }
  .main-banner .logo {
    width: 200px;
    margin: 70px 0 0 0; }
    @media screen and (max-width: 420px) {
      .main-banner .logo {
        width: 140px;
        margin: 30px 0 0 0; } }
  .main-banner h1 {
    margin: 65px 0 15px 0; }
    @media screen and (max-width: 420px) {
      .main-banner h1 {
        font-size: 40px;
        margin-top: 25px; } }
  .main-banner h2 {
    font-weight: bold;
    color: #95989A;
    letter-spacing: .02em; }
    @media screen and (max-width: 420px) {
      .main-banner h2 {
        margin-bottom: 20px; } }

.internal-banner {
  margin: 2em 0;
  padding: 0; }
  .internal-banner .logo {
    margin: 0; }

/*
Header
*/
@media screen and (max-width: 768px) {
  header {
    position: absolute;
    width: 100%; } }
header .logo {
  height: 6em;
  float: left;
  margin: 2em 0; }
header .menu {
  display: table;
  float: right;
  font-family: 'open_sans_light';
  margin: 4em 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    header .menu {
      display: none; } }
  header .menu li {
    display: inline-block;
    list-style: none;
    padding: 0 1.2em; }
    header .menu li a {
      color: #95989A;
      text-decoration: none; }
    header .menu li .btn-cta {
      background: #30A7E9;
      color: #FFFFFF;
      padding: .65em 1em; }

#sidebartoggle {
  display: none; }
  #sidebartoggle:checked + header .menu {
    -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.75);
    display: block;
    background: #FFFFFF;
    height: 100vh;
    margin: 0;
    padding: 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 180px;
    z-index: 2; }
    #sidebartoggle:checked + header .menu li {
      display: block;
      padding: 1em; }
    #sidebartoggle:checked + header .menu .btn-cta {
      color: #FFFFFF; }
      #sidebartoggle:checked + header .menu .btn-cta:hover {
        color: #FFFFFF; }
    #sidebartoggle:checked + header .menu a {
      color: #95989A;
      display: block; }
      #sidebartoggle:checked + header .menu a:hover {
        color: #30A7E9; }

.sidebartogle-button {
  display: none; }
  @media screen and (max-width: 768px) {
    .sidebartogle-button {
      display: block;
      text-align: right; } }
  .sidebartogle-button .btn-menu {
    height: 3em;
    margin: 2.5em 0; }

/*
Banner
*/
.banner {
  padding: 1em 0 8em; }
  @media screen and (max-width: 768px) {
    .banner {
      padding: 12em 0 3em; } }
  .banner h1 {
    margin: .35em; }
    @media screen and (max-width: 420px) {
      .banner h1 {
        padding: 0 .5em; } }

.single-expert-profile .wrap-content,
.expert-full-content .wrap-content {
  width: 800px; }
  @media screen and (max-width: 420px) {
    .single-expert-profile .wrap-content,
    .expert-full-content .wrap-content {
      width: 100%; } }

.expert-map {
  background-image: url("../images/community-map.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  width: 100%; }
  @media screen and (max-width: 420px) {
    .expert-map {
      height: 10em; } }

.community-list {
  text-align: center;
  padding: 60px 0; }
  .community-list h3 {
    color: #30A7E9;
    margin: 20px 0 0 0; }
    @media screen and (max-width: 420px) {
      .community-list h3 {
        font-size: 34px;
        text-align: left;
        margin: 0; } }
  .community-list .wrap-content {
    padding: 0 10%; }

.community-description {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #95989A; }
  @media screen and (max-width: 420px) {
    .community-description {
      font-size: 17px;
      line-height: 27px;
      text-align: left; } }

.single-expert {
  margin-top: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0; }
  .single-expert:last-child {
    margin-right: 0; }
  @media screen and (max-width: 420px) {
    .single-expert {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .single-expert:last-child {
        margin-right: 0; } }
  .single-expert .single-expert-img img {
    border-radius: 50%;
    float: left;
    width: 30%; }
    @media screen and (max-width: 420px) {
      .single-expert .single-expert-img img {
        width: 100%;
        padding: 0 25%; } }
  .single-expert .single-expert-txt {
    display: inline-block; }
    .single-expert .single-expert-txt p {
      margin: .5em 0;
      text-align: left; }

.expert-name {
  font-family: 'open_sans_bold';
  text-transform: uppercase; }

.expert-language {
  font-size: .9em;
  font-style: italic; }

.org-designer-ad {
  color: #FFFFFF;
  background-image: url("../images/org-designer-ad-back.jpg");
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center; }
  .org-designer-ad h3 {
    margin: .5em 0; }

.single-expert-profile {
  background: #EAEAEA;
  padding: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .single-expert-profile:last-child {
    margin-right: 0; }
  .single-expert-profile .expert-name {
    margin: .5em; }
  .single-expert-profile .expert-profile-block {
    display: block;
    float: left;
    margin: 0 auto;
    text-align: left;
    width: 65%; }
    .single-expert-profile .expert-profile-block .expert-avatar {
      border-radius: 50%;
      float: left;
      margin: 0 2em;
      height: 10em; }
      @media screen and (max-width: 420px) {
        .single-expert-profile .expert-profile-block .expert-avatar {
          width: 100%;
          padding: 0 25%; } }
    .single-expert-profile .expert-profile-block p {
      margin: .5em; }
    .single-expert-profile .expert-profile-block .expert-social {
      display: inline-flex;
      list-style: none;
      padding: 0; }
      .single-expert-profile .expert-profile-block .expert-social li {
        padding: 0 .5em; }
        .single-expert-profile .expert-profile-block .expert-social li a {
          color: #30A7E9; }
  .single-expert-profile .expert-company-info {
    display: table; }
  .single-expert-profile .expert-company-logo {
    height: 3em; }

.expert-full-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  margin-bottom: 4em; }
  .expert-full-content:last-child {
    margin-right: 0; }
  .expert-full-content p {
    font-size: 1.2em;
    line-height: 2em; }
  .expert-full-content .tags span {
    background: #EAEAEA;
    margin-right: 1em;
    padding: .2em .5em;
    border-radius: 4px; }
  .expert-full-content .expert-program-title {
    color: #30A7E9;
    float: left; }
  .expert-full-content .expert-program-link {
    line-height: 4em;
    margin: 0 2em; }
  .expert-full-content .expert-contact-infos {
    border: 1px solid #EAEAEA;
    padding: 2em; }
    .expert-full-content .expert-contact-infos section {
      display: block;
      float: left;
      height: 16em;
      padding: 1em 2em 0 0;
      width: 40%; }

/*
About
*/
.about-lw-co {
  background: #30A7E9;
  color: #FFFFFF;
  display: table;
  padding: 3em 0;
  width: 100%; }
  .about-lw-co h3 {
    text-align: center; }
  .about-lw-co .about-col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .about-lw-co .about-col-2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      .about-lw-co .about-col-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .about-lw-co .about-col-2:last-child {
          margin-right: 0; } }

/*
Key Benefits
*/
#key-benefits {
  background: #EAEAEA;
  padding: 2em 0;
  text-align: center; }
  #key-benefits section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #key-benefits section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      #key-benefits section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #key-benefits section:last-child {
          margin-right: 0; } }

/*
How it Works
*/
.howitworks {
  margin: 2em auto; }
  .howitworks h3 {
    color: #30A7E9;
    text-align: center; }
  .howitworks section {
    margin-bottom: 2em;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .howitworks section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      .howitworks section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        text-align: center; }
        .howitworks section:last-child {
          margin-right: 0; } }
    .howitworks section span {
      font-family: 'open_sans_bold';
      text-transform: uppercase; }
    .howitworks section h4 {
      margin-top: 0; }

/*
Pricing
*/
.pricing {
  background: #30A7E9;
  color: #FFFFFF;
  padding: 2em 0;
  text-align: center; }
  .pricing .pricing-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%;
    background: #FFFFFF;
    color: #95989A;
    padding: 2em 3em; }
    .pricing .pricing-box:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .pricing .pricing-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 25.58941%; }
        .pricing .pricing-box:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 420px) {
      .pricing .pricing-box {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%; }
        .pricing .pricing-box:last-child {
          margin-right: 0; } }
    .pricing .pricing-box h4 {
      color: #000000; }
    .pricing .pricing-box h3 {
      color: #30A7E9;
      margin: 0 0 .5em; }
      .pricing .pricing-box h3 span {
        font-size: .6em; }
    .pricing .pricing-box .btn {
      background: #FFCC00;
      color: #000000;
      margin: .5em 0; }
    .pricing .pricing-box p {
      text-align: left; }
      .pricing .pricing-box p i {
        color: #30A7E9; }

.form-group .parsley-errors-list {
  list-style: none;
  padding: 0;
  color: red; }
.form-group input:focus .parsley-error {
  border: 1px solid red; }
.form-group .input-insurence {
  font-size: .8em; }

/*# sourceMappingURL=style.css.map */
